@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  @include responsive-grid;

  background: var(--background);
  color: var(--text);
}

.error {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  padding: $spacing-13 0;

  &:not(.no-container) {
    @include responsive-container;
  }

  @include responsive-grid-span(
    $default: 6,
    $breakpoint-m: 5,
    $breakpoint-l: 7
  );
}
