@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  background-color: var(--background);
  color: var(--text);
  padding: $spacing-8 0 $spacing-9;
}

.container {
  @include responsive-container;
  display: flex;
  flex-direction: column;
  gap: $spacing-7;
}
