$hcauk-green-light: #04cac7;
$hcauk-green-light-100: #00b2ae;
$hcauk-green-light-200: #8be6e5;

$hcauk-orange-light: #ffa781;
$hcauk-dark-blue: #052342;
$hcauk-dark-blue-600: #072342;
$hcauk-grey-100: #d5d5d5;
$hcauk-grey-200: #f4f4f4;

//neutral
$hcauk-neutral-700: #1f2532;
$hcauk-neutral-600: #58595b;
$hcauk-neutral-500: #858789;
$hcauk-neutral-400: #b1b4b6;
$hcauk-neutral-300: #d7d7d8;
$hcauk-neutral-200: #e7e8e7;
$hcauk-neutral-100: #f9f9f9;

// padding / margins variables:
$hcauk-spacing-2: 2px;
$hcauk-spacing-4: 4px;
$hcauk-spacing-8: 8px;
$hcauk-spacing-10: 10px;
$hcauk-spacing-12: 12px;
$hcauk-spacing-16: 16px;
$hcauk-spacing-24: 24px;
$hcauk-spacing-32: 32px;
$hcauk-spacing-40: 40px;
$hcauk-spacing-48: 48px;

// box-shadow variables:
$hcauk-shadow-down: 0px 2px 8px rgba(30, 33, 36, 0.3);
$hcauk-shadow-up: 0px -2px 8px rgba(30, 33, 36, 0.2);
$hcauk-shadow-right: 2px 0px 8px rgba(30, 33, 36, 0.2);
$hcauk-shadow-left: -2px 0px 8px rgba(30, 33, 36, 0.2);
$hcauk-shadow-outer: 0px 2px 16px rgba(30, 33, 36, 0.45);
