@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  border-radius: $radius-medium;
  border: solid px-to-rem(1) $navy-blue-10;
  padding: $spacing-7;
  color: var(--text);
  margin: $spacing-5 0;
}

.title {
  margin-bottom: $spacing-4;
}
