.wrapper {
  all: unset;

  // Resets
  display: block;
  border: none;
  max-width: initial;
  max-height: initial;
  inset-inline-start: initial;
  inset-inline-end: initial;
  color: inherit;
  margin: 0;
  padding: 0;
  pointer-events: none;
  opacity: 0;
  inset: auto;
  transition: opacity;
  background: transparent;
  position: relative;
  transform: none;

  &[open] {
    opacity: 1;
    pointer-events: all;
  }

  &::backdrop {
    display: none;
  }

  &.no-transition {
    transition: none;
  }
}
