@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.container {
  @include responsive-grid;
  @include responsive-container;
}

.wrapper {
  color: var(--text);
  padding: $spacing-8 0;

  @include responsive-grid-start($breakpoint-l: 3);
  @include responsive-grid-span($breakpoint-l: 8);
}

.flex-container {
  display: flex;
  flex-direction: column;

  .wrapper {
    padding: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: $spacing-4 0;
  margin-bottom: $spacing-8;
}
