@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  background: var(--background);
  color: var(--text);
  padding-top: var(--theme-collapse-padding-top, $spacing-12);
  padding-bottom: $spacing-12;
}

.container {
  @include responsive-container;
  @include responsive-grid;

  row-gap: 0;

  .grid {
    @include responsive-grid-span(6, 6, 8, 8);
    @include responsive-grid-start($breakpoint-l: 3);
  }

  &.image-block .grid {
    @include responsive-grid-span(6, 6, 12, 12);
    @include responsive-grid-start($breakpoint-l: 1);
  }

  &.quote-center-block .grid {
    @include responsive-grid-span(6, 6, 10, 10);
    @include responsive-grid-start($breakpoint-l: 2);
  }

  figure {
    overflow: hidden;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:first-child {
        aspect-ratio: 1120/523;
        border-radius: $radius-medium;
      }
    }
  }

  &.keep-aspect-ratio {
    img:first-child {
      aspect-ratio: unset;
    }
  }
}
