@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  background: var(--background);
  color: var(--text);
}

.container {
  @include responsive-container;

  row-gap: 0;
  padding-top: var(--theme-collapse-padding-top, $spacing-12);
  padding-bottom: $spacing-12;

  & > div {
    max-width: px-to-rem(742);
    margin: auto;
  }

  figure {
    overflow: hidden;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:first-child {
        aspect-ratio: 1120/523;
        border-radius: $radius-medium;
      }
    }
  }

  &.keep-aspect-ratio {
    img:first-child {
      aspect-ratio: unset;
    }
  }
}
