@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.text-link {
  width: max-content;

  a {
    text-decoration: none;
  }

  button,
  a {
    color: $dark-blue;
    display: flex;
    column-gap: px-to-rem(4);
    cursor: pointer;
    background: 0;
    border: 0;
    position: relative;
    padding: 0;

    @include apply-body-medium-large;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    &:active {
      color: $dark-blue-60;
    }

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      padding: px-to-rem(4) px-to-rem(8);
      border-radius: $small-radius;
      border: 1px solid $dark-blue;
    }

    &:disabled {
      color: $dark-blue-40;
      pointer-events: none;
    }
  }
}
