$hcauk-green: #107a7f;
$hcauk-turquoise: #34787f;
$hcauk-mint: #f3fafb;
$hcauk-blue: #04183d;
$hcauk-navy: #02173e;
$hcauk-orange: #bc5534;
$hcauk-white: #fff;
$hcauk-light-grey-3: #d3d9de;
$hcauk-dark-grey-2: #56606b;

// neutral
$hcauk-neutral-700: #1f2532;
$hcauk-neutral-600: #58595b;
$hcauk-neutral-500: #858789;
$hcauk-neutral-400: #b1b4b6;
$hcauk-neutral-300: #d7d7d8;
$hcauk-neutral-200: #e7e8e7;
$hcauk-neutral-100: #f9f9f9;

// padding / margins variables:
$hcauk-spacing-2: 2;
$hcauk-spacing-4: 4;
$hcauk-spacing-6: 6;
$hcauk-spacing-8: 8;
$hcauk-spacing-10: 10;
$hcauk-spacing-12: 12;
$hcauk-spacing-14: 14;
$hcauk-spacing-16: 16;
$hcauk-spacing-18: 18;
$hcauk-spacing-20: 20;
$hcauk-spacing-24: 24;
$hcauk-spacing-26: 26;
$hcauk-spacing-28: 28;
$hcauk-spacing-30: 30;
$hcauk-spacing-32: 32;
$hcauk-spacing-40: 40;
$hcauk-spacing-48: 48;
$hcauk-spacing-60: 60;

// box-shadow variables:
$hcauk-shadow-down: 0 2 8 rgb(30 33 36 / 30%);
$hcauk-shadow-up: 0 -2 8 rgb(30 33 36 / 20%);
$hcauk-shadow-right: 2 0 8 rgb(30 33 36 / 20%);
$hcauk-shadow-left: -2 0 8 rgb(30 33 36 / 20%);
$hcauk-shadow-outer: 0 2 16 rgb(30 33 36 / 45%);
