@use '../../../foundation/index.module' as *;
@use '../../../utilities/index.module' as *;

.error-message {
  display: flex;
  color: var(--field-error-colour);

  svg {
    margin-right: $spacing-1;
  }
}
