@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.button {
  min-height: $spacing-9;
  display: flex;
  align-items: center;
  gap: 0 px-to-rem(16);
  color: $navy-blue-100;
  background-color: $white;
  padding: px-to-rem(16) px-to-rem(24);
  border-radius: $radius-large;
  border: 1px solid $navy-blue-30;
  width: 100%;
  cursor: pointer;

  @include apply-body-medium-large;

  @include media(screen-m) {
    padding: px-to-rem(16) px-to-rem(32);
  }
}
