@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.background {
  background-color: var(--background);
  color: var(--text);
}

.container {
  @include responsive-container;

  padding-top: $spacing-9;
  padding-bottom: $spacing-13;
  display: flex;
  flex-direction: column;
  gap: $spacing-7;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: $spacing-4;
  @include media(screen-m) {
    flex-direction: row;
  }
}

.count {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8);
}

.results {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}
