@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

/* Text content */
.container {
  @include responsive-container;
  @include responsive-grid;

  row-gap: px-to-rem(4);
  @include media(screen-l) {
    row-gap: px-to-rem(16);
    width: 100%;
  }

  .title {
    @include responsive-grid-span($breakpoint-m: 4, $breakpoint-l: 6);

    margin-bottom: calc(#{$spacing-7} - #{px-to-rem(4)});
  }

  .search {
    @include responsive-grid-span($breakpoint-l: 7);
  }

  .filters {
    @include responsive-grid-span($breakpoint-l: 7);
  }

  .cta {
    display: block;
    @include responsive-grid-span($breakpoint-l: 7);
    @include responsive-grid-start(1);
  }
}
