<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <pipelines>
      <transformParameters>
        <processor name="TransformReferrencedSettings" type="HCACloud.Platform.Pipelines.TransformParameters.TransformReferrencedSettings, HCACloud.Platform" resolve="true" >
          <supportedParameters hint="raw:AddSupportedParameter">
            <!--<param type="[RendaringParameterName]" valuefield="[ValueFieldNameInReferencedItem]" />-->
          </supportedParameters>
        </processor>
      </transformParameters>
    </pipelines>
    <layoutService>
      <!--Reducing GraphQL serialization depth https://support.sitecore.com/csm?id=csm_ticket&table=sn_customerservice_case&sys_id=9de1e7901bf1de50efd0ec22604bcb46&view=sp-->
      <!--Default:4-->
      <serializationMaxDepth>3</serializationMaxDepth>
    </layoutService>
  </sitecore>
</configuration>