@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

@mixin apply-hover-transition($initialBackgroundColor, $hoverColor) {
  position: relative;
  background-clip: padding-box;
  z-index: 1;
  overflow: clip;

  &::before {
    content: '';
    position: absolute;
    bottom: px-to-rem(-1);
    right: calc(100% + px-to-rem(2));
    width: calc(100% + px-to-rem(2));
    height: calc(100% + px-to-rem(2));
    background-color: $hoverColor;
    border-radius: $radius-large;
    z-index: -1;
    box-sizing: border-box;
  }

  &::after {
    width: calc(100% + px-to-rem(2));
    height: calc(100% + px-to-rem(2));
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    border-radius: $radius-large;
    background-color: $initialBackgroundColor;
    z-index: -2;
  }

  &:hover {
    &::before {
      right: 0;
      transition: all 0.3s;

      @media (prefers-reduced-motion) {
        transition: none;
      }
    }
  }
}

@mixin apply-focus-outline($outlineColor) {
  outline: 2px solid $outlineColor;
  outline-offset: px-to-rem(-4);
}

%button {
  a {
    text-decoration: none;
  }

  button {
    border: 0;
    cursor: inherit;
  }

  a,
  button,
  label {
    border-radius: $radius-large;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: px-to-rem(8);
    padding: 0;
    color: inherit;
    position: relative;
    width: max-content;

    @include media(screen-m, max) {
      width: 100%;
      text-align: center;
      justify-content: center;
    }

    @include apply-body-medium-large;

    &:focus {
      outline: 0;
    }

    &:disabled {
      pointer-events: none;
    }

    & > span:has(svg) {
      display: flex;
    }

    svg {
      flex-shrink: 0;
    }
  }

  &.loading {
    pointer-events: none;
    width: max-content;
    position: relative;

    & > span {
      z-index: 2;
      position: absolute;
      inset: 0;
      margin: auto;
    }

    button,
    a,
    label {
      width: initial;

      & > * {
        visibility: hidden;
      }
    }
  }
}

.button {
  @extend %button;
}

/* stylelint-disable no-descending-specificity */
%large {
  a,
  button,
  label {
    padding: px-to-rem(16) $spacing-6;

    @include media(screen-m) {
      padding: px-to-rem(16) $spacing-8;
    }

    min-height: $spacing-9;
  }
}

.large {
  @extend %large;
}

.small {
  a,
  button,
  label {
    padding: px-to-rem(16) $spacing-7;
    min-height: $spacing-8;
  }
}

.filter {
  a,
  button,
  label {
    color: var(--text);
    background-color: var(--filter-button-1);
    overflow: hidden;

    &:hover,
    &:active {
      background-color: var(--filter-button-2);

      svg {
        color: var(--filter-button-3);
      }
    }

    &:focus-visible {
      border-color: var(--text);
      @include apply-focus-outline(currentColor);

      span:has(svg) {
        outline: solid px-to-rem(2) currentcolor;
        border-radius: $radius-medium;
        outline-offset: px-to-rem(-2);
      }
    }
  }
}

.jump-to {
  a,
  button,
  label {
    padding: $spacing-4 $spacing-5;
    color: $navy-blue-100;
    background-color: $tangerine-20;
    overflow: hidden;

    &:hover,
    &:active {
      background-color: $tangerine-30;
    }

    &:focus-visible {
      border-color: currentcolor;
      @include apply-focus-outline(currentColor);

      span:has(svg) {
        outline: solid px-to-rem(2) currentcolor;
        border-radius: $radius-medium;
        outline-offset: px-to-rem(-2);
      }
    }

    @include media(screen-m, max) {
      text-align: left;
      justify-content: flex-start;
      width: 100%;
    }
  }
}

%full {
  a,
  button,
  label {
    border: 0;
  }

  &,
  &-dark,
  &-light,
  &-light-blue {
    a,
    button,
    label {
      color: var(--cta-full-text);
      border: 1px solid var(--cta-full-border);

      @media (hover: hover) and (pointer: fine) {
        @include apply-hover-transition(
          var(--cta-full-background),
          var(--background)
        );

        &:hover {
          color: var(--cta-full-hover-text);
          border-color: var(--cta-full-hover-border);
        }
      }

      @media (pointer: coarse) {
        background-color: var(--cta-full-background);
      }

      &:active {
        background-color: var(--cta-full-active-background);
        color: var(--cta-full-active-text);
        border-color: var(--cta-full-active-border);
      }

      &:disabled {
        color: var(--cta-full-disabled-text);
        border-color: var(--cta-full-disabled-border);
        background-color: var(--cta-full-disabled-background);

        &::after {
          background-color: var(--cta-full-disabled-background);
        }
      }

      &:focus-visible {
        border-color: var(--cta-full-focus-border);
        @include apply-focus-outline(var(--cta-full-focus-outline));
      }
    }
  }

  // Overrides
  &-light-blue {
    @include apply-cta-full-light-blue;
  }

  // Overrides
  &-dark {
    @include apply-cta-full-dark;
  }

  &-light {
    @include apply-cta-full-light;
  }
}

.full {
  @extend %full;

  &-dark {
    @extend %full-dark;
  }

  &-light {
    @extend %full-light;
  }

  &-light-blue {
    @extend %full-light-blue;
  }
}

.outline {
  &,
  &-dark,
  &-light {
    a,
    button,
    label {
      color: var(--cta-outline-text);
      border: 1px solid var(--cta-outline-border);
      background-color: transparent;

      @media (hover: hover) and (pointer: fine) {
        @include apply-hover-transition(
          transparent,
          var(--cta-outline-hover-background)
        );

        &:hover {
          color: var(--cta-outline-hover-text);
          border-color: var(--cta-outline-hover-border);
        }
      }

      &:active {
        background-color: var(--cta-outline-active-background);
        color: var(--cta-outline-active-text);
        border-color: var(--cta-outline-active-border);
      }

      &:disabled {
        background-color: var(--cta-outline-disabled-background);
        color: var(--cta-outline-disabled-text);
        border-color: var(--cta-outline-disabled-border);
      }

      &:focus-visible {
        @include apply-focus-outline(var(--cta-outline-focus-outline));
      }
    }
  }

  // Overrides
  &-dark {
    @include apply-cta-outline-dark;
  }

  &-light {
    @include apply-cta-outline-light;
  }
}

.social {
  &,
  &-light,
  &-dark {
    transition: all 0.2s ease;

    &.small {
      a,
      button,
      label {
        padding: px-to-rem(12) px-to-rem(24);
        min-height: auto;
      }
    }

    .sr-only {
      @include sr-only;
    }

    a,
    button,
    label {
      background-color: transparent;
      color: var(--cta-social-text);
      border: 1px solid var(--cta-social-border);
      display: flex;

      &:hover {
        border-color: var(--cta-social-hover-border);
      }

      &:active {
        border-color: var(--cta-social-active-border);
      }

      &:focus-visible {
        border-color: var(--cta-social-focus-border);
        outline: 2px solid var(--cta-social-focus-outline);
        outline-offset: -5px;
      }
    }
  }

  &-dark {
    @include apply-cta-social-dark;
  }

  &-light {
    @include apply-cta-social-light;
  }
}

.hover-carousel {
  button {
    background-color: $tangerine-100;
    padding: px-to-rem(16);
    border-radius: 50%;

    &:active {
      background-color: $tangerine-70;
    }
  }
}

.standard-carousel {
  &,
  &-light,
  &-dark {
    button {
      padding: px-to-rem(16);
      border-radius: 50%;
      background-color: var(--cta-carousel-background);
      color: var(--cta-carousel-text);
      border: 1px solid var(--cta-carousel-border);
      min-width: $spacing-8;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: transparent;
        color: var(--cta-carousel-hover-text);
        border-color: var(--cta-carousel-hover-text);
      }

      &:active {
        background-color: var(--cta-carousel-active-background);
        color: var(--cta-carousel-active-text);
        border-color: var(--cta-carousel-active-border);
      }

      &:disabled {
        background-color: var(--cta-carousel-disabled-background);
        color: var(--cta-carousel-disabled-text);
        border-color: var(--cta-carousel-disabled-background);
      }

      &:focus {
        outline: 0;
      }

      &:focus-visible {
        @include apply-focus-outline(var(--cta-carousel-focus-outline));
      }
    }
  }
}

.square-outline {
  button,
  a,
  label {
    border: 1px solid $navy-blue-10;
    border-radius: $radius-small;
    padding: $spacing-5 $spacing-7;
    color: var(--cta-outline-text);
    background-color: transparent;
    width: 100%;
    justify-content: center;

    &:hover {
      border-color: var(--cta-outline-hover-border);
    }

    &:active {
      border-color: var(--cta-outline-active-border);
    }

    &:disabled {
      background-color: var(--cta-outline-disabled-background);
      color: var(--cta-outline-disabled-text);
      border-color: var(--cta-outline-disabled-border);
    }

    &:focus-visible {
      @include apply-focus-outline(var(--cta-outline-focus-outline));
    }
  }
}

.play {
  button,
  a,
  label {
    height: px-to-rem(101);
    width: px-to-rem(101);
    position: relative;
    border-radius: 50%;
    padding: 0;
    background: $white;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $navy-blue-100;
    }

    &:hover {
      background: $teal-5;
    }

    &:active {
      background: $teal-10;
    }
  }
}

.full-width {
  a,
  button,
  label {
    width: 100%;
    justify-content: center;
  }
}

.card {
  &.full {
    &,
    &-dark,
    &-light,
    &-light-blue {
      a,
      button,
      label {
        @media (hover: hover) and (pointer: fine) {
          @include apply-hover-transition(
            var(--cta-full-background),
            var(--card-background)
          );
        }

        @media (pointer: coarse) {
          background-color: var(--cta-full-background);
        }
      }
    }
  }
}

.search {
  height: 100%;

  button,
  a,
  label {
    height: 100%;
  }
}
