<?xml version="1.0"?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/" >
  <sitecore>   
    <javaScriptServices>
      <renderEngines>
        <renderEngine name="http">
          <instance id="defaults">
            <!--   CS0601243 (Page Builder and XE error) increasing maximum duration from 10000 to 60000, in milliseconds  -->
            <RequestTimeoutMs>60000</RequestTimeoutMs>
          </instance>
        </renderEngine>
      </renderEngines>
    </javaScriptServices>
  </sitecore>
</configuration>