@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  padding: $spacing-6;
  background-color: var(--card-background);
  color: var(--text);
  border-radius: $radius-medium;
  gap: px-to-rem(16) $spacing-7;
  align-items: normal;
  @include media(screen-l) {
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-7 $spacing-6;
  }
}

.title {
  margin-bottom: $spacing-4;
}

.bullets {
  display: flex;
  gap: $spacing-7;
}

.location,
.clinical,
.timing {
  display: flex;
  gap: px-to-rem(8);
}

.clinical,
.timing {
  @include media(screen-l, max) {
    display: none;
  }
}
