@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    margin: $spacing-6 0;
}

.popularSearches {
    display: block;
    text-align: center;

    .links {
        margin: 0 $spacing-2;
    }
}

.title {
    margin-bottom: $spacing-2;
}