@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.search {
  @include responsive-grid-span($breakpoint-l: 7);

  display: flex;
  gap: $spacing-4;
  flex-direction: column;
}

.filters {
  position: relative;
  @include responsive-grid-span($breakpoint-l: 7);

  display: grid;
  @include media(screen-l) {
    grid-template-columns: 1fr 1fr;
  }

  gap: px-to-rem(4) px-to-rem(8);
}
