@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.tags {
  display: flex;
  gap: $spacing-2;
  flex-wrap: wrap;
}

.tags > * {
  // Imported styles
  @include apply-body-medium-medium;

  // Shared styles
  border-radius: $radius-small;
  padding: px-to-rem(4) px-to-rem(16);
  text-decoration: none;
  outline: solid #{px-to-rem(2)} transparent;
  outline-offset: px-to-rem(-3);
  background-color: var(--tag-background);
  color: var(--tag-text);
}

.tags > a,
.tags > button {
  cursor: pointer;

  &:hover {
    background-color: var(--tag-hover-background);
  }

  &:active {
    background-color: var(--tag-active-background);
  }

  &:focus {
    background-color: var(--tag-focus-focus);
    outline-color: var(--tag-focus-outline);
  }
}

.green {
  @include apply-tag-green;
}

.dark-blue {
  @include apply-tag-dark-blue;
}

.orange {
  @include apply-tag-orange;
}

.white {
  @include apply-tag-white;
}

.blue {
  @include apply-tag-blue;
}

.coral {
  @include apply-tag-coral;
}
