@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;
@use '../../core-components/TextField/TextField.module.scss';
@use '../../components/SearchBar/SearchBar.module.scss';

.wrapper {
  position: relative;

  .cross {
    display: flex;
    position: absolute;
    right: $spacing-6;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
  }

  &:has(input:focus) {
    .cross {
      opacity: 1;
    }
  }

  &:has(.results) {
    .manual-button {
      display: none;
    }
  }
}

.search-wrapper {
  @extend %searchbar;
}

.results {
  padding: px-to-rem(24) px-to-rem(32);
  border: 1px solid $navy-blue-100;
  border-radius: $radius-large;
  margin-top: $spacing-1;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px 0;

    li {
      width: 100%;

      button {
        display: flex;
        gap: $spacing-3;
        @include apply-body-medium-large;
        color: $navy-blue-100;
        background: transparent;
        border: 0;
        width: inherit;
      }
    }
  }
}

.manual-button {
  margin-top: $spacing-3;
}

.selected-address {
  color: var(--text);
}

.selected-controls {
  display: flex;
  margin-top: $spacing-4;
  gap: 0 $spacing-5;
}

.selected-fields {
  margin-top: $spacing-4;

  @include apply-body-medium-large;
}

.manual-fields {
  display: grid;
  gap: $spacing-5 0;

  input {
    @extend %input-field;
  }
}
