@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  position: relative;

  .cross {
    display: flex;
    position: absolute;
    right: $spacing-6;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
  }

  &:has(input:focus) {
    .cross {
      opacity: 1;
    }
  }

  &:has(.results) {
    .manual-button {
      display: none;
    }
  }
}

.search {
  color: $navy-blue-100;
  padding: px-to-rem(18) px-to-rem(32) px-to-rem(18) px-to-rem(72);
  border-radius: $radius-large;
  border: 1px solid $navy-blue-30;
  width: 100%;

  @include apply-body-medium-large;

  &::placeholder {
    color: inherit;
  }
}

.search-wrapper {
  position: relative;
  flex: 1 1 auto;

  &::before {
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Search'%3E%3Ccircle id='Ellipse 2' cx='13' cy='11' r='8' stroke='%23112F34' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath id='Vector 4' d='M7 17L3 21' stroke='%23112F34' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: px-to-rem(24);
    height: px-to-rem(24);
    left: px-to-rem(32);
  }
}

.results {
  padding: px-to-rem(24) px-to-rem(32);
  border: 1px solid $navy-blue-100;
  border-radius: $radius-large;
  margin-top: $spacing-1;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px 0;

    li {
      width: 100%;

      button {
        display: flex;
        gap: $spacing-3;
        @include apply-body-medium-large;
        color: $navy-blue-100;
        background: transparent;
        border: 0;
        width: inherit;
      }
    }
  }
}

.manual-button {
  margin-top: $spacing-3;
}

.selected-address {
  margin-top: px-to-rem(57);
}

.selected-controls {
  display: flex;
  margin-top: $spacing-4;
  gap: 0 $spacing-5;
}

.selected-fields {
  margin-top: $spacing-4;
  @include apply-body-medium-large;
}

.manual-fields {
  margin-top: px-to-rem(100);
}
