@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.read-more {
  button {
    span {
      font-size: px-to-rem(14);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .read-more-buttons {
    padding: $spacing-2 0;
  }
}
