@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.headline {
  display: flex;
  justify-content: center;
  margin: $spacing-7 $spacing-14 0;
}

.headline-with-name {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin: $spacing-7 $spacing-14 0;

  @include media(screen-l) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

.slots-headline {
  margin: 0;
}

.back {
  display: none;

  @include media(screen-l) {
    display: block;
  }
}