@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  color: var(--text);
  background: var(--background);
  padding-top: var(--theme-collapse-padding-top, $spacing-13);
  padding-bottom: $spacing-13;
}

.grid {
  @include responsive-container;
  @include responsive-grid;
}

.content {
  @include responsive-grid-start(1, 1, 3, 3);
  @include responsive-grid-span(6, 6, 8, 8);

  .subheading {
    margin-bottom: $spacing-2;
  }

  .title,
  .text {
    margin-bottom: $spacing-6;
  }

  > :last-child {
    margin-bottom: 0;
  }

  // CTA likely contains an empty dev when not populated, due to Sitecore placeholder behavior. So we shave the margin-bottom from the preceding  .text element
  &:has(.ctas > *:empty) .text {
    margin-bottom: 0;
  }

  .ctas {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }
}

.centered {
  text-align: center;

  .ctas {
    align-items: center;
  }
}
