@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  @include responsive-container;

  padding-top: px-to-rem(41 - 18);
  @include media(screen-l) {
    padding-top: px-to-rem(87);
  }

  padding-bottom: $spacing-11;
}

.suggestions {
  margin-top: px-to-rem(32);
  display: flex;
  gap: px-to-rem(8);
  flex-wrap: wrap;
}
