@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  background-color: var(--background);
  color: var(--text);
}

.container {
  @include responsive-container;

  padding: $spacing-9 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-7;

  @include media(screen-l) {
    flex-direction: row;
    gap: $spacing-9;
  }

  .header {
    margin-top: px-to-rem(8);
  }

  .body-text {
    margin-top: $spacing-6;
  }

  .ctas {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-5;

    @include media(screen-m) {
      flex-direction: row;
      align-items: center;
    }

    & a {
      width: 100%;

      & span {
        margin: auto;
      }

      @include media(screen-l) {
        width: fit-content;
      }
    }

    /* Second button has slightly different gap compared to others */
    & > div:nth-child(2) {
      margin-top: calc(px-to-rem(16) * -1);

      @include media(screen-m) {
        margin-top: 0;
        margin-left: calc(px-to-rem(16) * -1);
      }
    }
  }
}
