@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  background: var(--background, #{$navy-blue-90});
  color: var(--text, #{$white});
}

.container {
  @include responsive-container;

  padding-top: $spacing-12;
  padding-bottom: $spacing-12;

  .columns-3 & {
    padding-top: $spacing-10;
    padding-bottom: $spacing-10;
  }
}

.grid {
  @include responsive-grid;

  row-gap: $spacing-6;

  .columns-3 & {
    row-gap: $spacing-8;
  }
}

.item {
  display: grid;
  gap: $spacing-6;

  .columns-2 & {
    @include responsive-grid-span(6, 6, 6, 6);
  }

  grid-template-columns: 1fr;

  @include media(screen-m) {
    grid-template-columns: px-to-rem(133) 1fr;
  }

  .columns-3 & {
    gap: px-to-rem(16);
    @include responsive-grid-span(6, 6, 4, 4);

    grid-template-columns: px-to-rem(48) 1fr;
  }

  &.item-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $spacing-6;

    div {
      text-align: center;
    }
  }
}

.title {
  margin-bottom: px-to-rem(6);

  .columns-3 & {
    padding-right: $spacing-6;
  }
}

.logo {
  width: px-to-rem(133);
  max-height: px-to-rem(88);
  @include media(screen-m) {
    grid-template-columns: px-to-rem(133) 1fr;
  }

  .columns-3 & {
    width: px-to-rem(48);
    max-height: px-to-rem(48);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top left;
  }
}
