@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.accordions {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8) 0;
}

.header {
  margin-bottom: px-to-rem(40);
}

.cta {
  margin-top: px-to-rem(40);
}
