@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

@mixin apply-light-mode {
  --border: #{$dark-blue-10};
  --background-selected: #{$coral};
  --background-disabled: #{$dark-blue-5};
  --border-disabled: #{$dark-blue-10};
  --background-disabled-selected: #{$dark-blue-10};
  --border-disabled-selected: #{$dark-blue-10};
  --border-focus: #{$dark-blue};
  --text: #{$dark-blue};
  --check: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 12.2L9.85714 15L17 8' stroke='%23112F34' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")};
}
@mixin apply-dark-mode {
  --border: #{$dark-blue-40};
  --background-selected: #{$main-turquoise};
  --background-disabled: #{$dark-blue-60};
  --border-disabled: #{$dark-blue-40};
  --background-disabled-selected: #{$dark-blue-10};
  --border-disabled-selected: #{$dark-blue-10};
  --border-focus: #{$white};
  --text: #{$white};
  --check: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 12.2L9.85714 15L17 8' stroke='%23112F34' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")};
}
@mixin apply-medium-mode {
  --border: #{$dark-blue-60};
  --background-selected: #{$dark-blue};
  --background-disabled: #{$main-turquoise-40};
  --border-disabled: #{$dark-blue-20};
  --background-disabled-selected: #{$dark-blue-20};
  --border-disabled-selected: #{$dark-blue-20};
  --border-focus: #{$white};
  --text: #{$dark-blue};
  --check: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 12.2L9.85714 15L17 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")};
}

.light {
  @include apply-light-mode;
}

.dark {
  @include apply-dark-mode;
}

.medium {
  @include apply-medium-mode;
}

.wrapper {
  display: flex;
}

label {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text);

  @include apply-body-large;

  &::before {
    left: 0;
    position: absolute;
    content: '';
    border: px-to-rem(2) solid var(--border);
    width: px-to-rem(24);
    height: px-to-rem(24);
    border-radius: $radius-small;
  }

  .text {
    display: flex;
    padding-left: px-to-rem(32);
  }
}

input[type='checkbox'] {
  appearance: none;
  margin: 0;

  &:checked + label {
    background-color: --background-selected;

    @include apply-body-medium-large;

    &::before {
      background: var(--background-selected);
      border: 2px solid var(--background-selected);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      background-image: var(--check);
      height: px-to-rem(24);
      width: px-to-rem(24);
    }
  }

  &:checked {
    &:disabled + label {
      &::before {
        background-color: var(--background-disabled-selected);
        border-color: var(--border-disabled-selected);
      }

      &::after {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 12.2L9.85714 15L17 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
  }

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    & + label {
      &::before {
        outline: px-to-rem(2) solid var(--border-focus);
        outline-offset: px-to-rem(2);
      }
    }
  }

  &:disabled + label {
    &::before {
      background-color: var(--background-disabled);
      border-color: var(--border-disabled);
    }
  }
}
