@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

@mixin apply-light-mode {
  --border: #{$navy-blue-10};
  --background-selected: #{$orange-100};
  --background-disabled: #{$navy-blue-5};
  --border-disabled: #{$navy-blue-10};
  --background-disabled-selected: #{$navy-blue-10};
  --border-disabled-selected: #{$navy-blue-10};
  --border-focus: #{$navy-blue-100};
  --text: #{$navy-blue-100};
  --check: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 12.2L9.85714 15L17 8' stroke='%23112F34' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")};
  --indeterminate: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg id='Minus small'%3E%3Cpath id='Vector' d='M8 12H16' stroke='%23112F34' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E")};
}
@mixin apply-dark-mode {
  --border: #{$navy-blue-40};
  --background-selected: #{$teal-100};
  --background-disabled: #{$navy-blue-60};
  --border-disabled: #{$navy-blue-40};
  --background-disabled-selected: #{$navy-blue-10};
  --border-disabled-selected: #{$navy-blue-10};
  --border-focus: #{$white};
  --text: #{$white};
  --check: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 12.2L9.85714 15L17 8' stroke='%23112F34' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")};
  --indeterminate: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg id='Minus small'%3E%3Cpath id='Vector' d='M8 12H16' stroke='%23112F34' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E")};
}
@mixin apply-medium-mode {
  --border: #{$navy-blue-60};
  --background-selected: #{$navy-blue-100};
  --background-disabled: #{$teal-40};
  --border-disabled: #{$navy-blue-20};
  --background-disabled-selected: #{$navy-blue-20};
  --border-disabled-selected: #{$navy-blue-20};
  --border-focus: #{$white};
  --text: #{$navy-blue-100};
  --check: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 12.2L9.85714 15L17 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")};
  --indeterminate: #{url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg id='Minus small'%3E%3Cpath id='Vector' d='M8 12H16' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E")};
}

.light {
  @include apply-light-mode;
}

.dark {
  @include apply-dark-mode;
}

.medium {
  @include apply-medium-mode;
}

.wrapper {
  display: flex;
  user-select: none;

  label {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--text);

    @include apply-body-large;

    &::before {
      left: 0;
      position: absolute;
      content: '';
      border: px-to-rem(2) solid var(--border);
      width: px-to-rem(24);
      height: px-to-rem(24);
      border-radius: $radius-small;
    }

    .text {
      display: flex;
      padding-left: px-to-rem(32);
    }
  }

  input[type='checkbox'] {
    appearance: none;
    margin: 0;

    &:checked + label {
      @include apply-body-medium-large;

      &::before {
        background: var(--background-selected);
        border: 2px solid var(--background-selected);
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        background-image: var(--check);
        height: px-to-rem(24);
        width: px-to-rem(24);
      }
    }

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      & + label {
        &::before {
          outline: px-to-rem(2) solid var(--border-focus);
          outline-offset: px-to-rem(2);
        }
      }
    }

    &:indeterminate {
      & + label {
        &::before {
          background-color: var(--background-selected);
          border-color: var(--background-selected);
        }

        &::after {
          content: '';
          position: absolute;
          background-image: var(--indeterminate);
          height: px-to-rem(24);
          width: px-to-rem(24);
        }
      }
    }

    &:disabled + label {
      &::before {
        background-color: var(--background-disabled);
        border-color: var(--border-disabled);
      }
    }

    &:indeterminate:disabled + label {
      &::before {
        background: var(--background-disabled-selected);
        border: var(--border-disabled-selected);
      }

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg id='Minus small'%3E%3Cpath id='Vector' d='M8 12H16' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &:checked {
      &:disabled + label {
        &::before {
          background-color: var(--background-disabled-selected);
          border-color: var(--border-disabled-selected);
        }

        &::after {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7 12.2L9.85714 15L17 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }
    }
  }
}
