@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.text-button {
  button {
    display: flex;
    column-gap: px-to-rem(4);
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0 0 px-to-rem(8);
    position: relative;

    @include apply-body-medium-large;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: px-to-rem(2);
      transition: width 0.3s;
      bottom: px-to-rem(0);
      left: 0;
      position: absolute;
    }

    &:hover {
      &::after {
        width: 0;
      }
    }

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      padding: px-to-rem(4) px-to-rem(8);
      border-radius: $small-radius;

      &::after {
        display: none;
      }
    }

    &:disabled {
      pointer-events: none;
    }
  }
}

/* stylelint-disable no-descending-specificity */

.dark {
  button {
    color: $dark-blue;

    &::after {
      background: $dark-blue;
    }

    &:active {
      color: $dark-blue-40;

      &::after {
        background: transparent;
      }
    }

    &:disabled {
      color: $dark-blue-40;

      &::after {
        background: $dark-blue-40;
      }
    }

    &:focus-visible {
      border: px-to-rem(2) solid $dark-blue;
    }
  }
}

.light {
  button {
    color: $white;

    &::after {
      background: $white;
    }

    &:active {
      color: $main-turquoise;

      &::after {
        background: transparent;
      }
    }

    &:disabled {
      color: $dark-blue-40;

      &::after {
        background: $dark-blue-40;
      }
    }

    &:focus-visible {
      border: px-to-rem(2) solid $white;
    }
  }
}

/* stylelint-enable no-descending-specificity */
