@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.text-button {
  width: max-content;

  a {
    text-decoration: none;
  }

  button,
  a {
    display: flex;
    column-gap: px-to-rem(4);
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0 0 px-to-rem(8);
    position: relative;

    @include apply-body-medium-large;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: px-to-rem(2);
      transition: width 0.3s;
      bottom: px-to-rem(0);
      left: 0;
      position: absolute;
    }

    &:hover {
      &::after {
        width: 0;
      }
    }

    &:focus {
      outline: 0;
    }

    &:focus-visible {
      padding: px-to-rem(4) px-to-rem(8);
      border-radius: $small-radius;

      &::after {
        display: none;
      }
    }

    &:disabled {
      pointer-events: none;
    }
  }

  button,
  a {
    color: var(--cta-text-color);

    &::after {
      background-color: var(--cta-text-color);
    }

    &:active {
      color: --cta-text-active-color;

      &::after {
        background: transparent;
      }
    }

    &:disabled {
      color: var(--cta-text-disabled-color);

      &::after {
        background: var(--cta-text-disabled-color);
      }
    }

    &:focus-visible {
      border: px-to-rem(2) solid var(--cta-text-color);
    }
  }
}

/* stylelint-disable no-descending-specificity */

.dark {
  @include apply-text-buttons-dark;
}

.light {
  @include apply-text-buttons-light;
}

/* stylelint-enable no-descending-specificity */
