@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(24) 0;
  margin: $spacing-8 0;
  color: var(--text);
}

.quote {
  @include apply-display-5;
}

.author {
  display: flex;
  gap: 0 px-to-rem(24);

  img {
    border-radius: 50%;
    max-width: px-to-rem(70);
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

.author-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  @include apply-subheading-1;
}
