@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

// Also exported to globals/_rte-utilities
%tick-list {
  display: grid;
  gap: px-to-rem(12) px-to-rem(24);
  align-items: flex-start;
  padding-left: 0;
  margin: $spacing-4 0 0;

  li {
    display: flex;
    gap: px-to-rem(8);

    &::before {
      content: '';
      mask: url('./tick.svg');
      mask-repeat: no-repeat;
      background: currentcolor;
      width: px-to-rem(24);
      margin-top: px-to-rem(2);
    }
  }
}

// For CSS modules
.wrapper {
  ul {
    @extend %tick-list;
  }
}
