@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

// Also exported to globals/_rte-utilities
%tick-list {
  list-style: none;
  padding-left: 0;
  margin: $spacing-4 0 0;

  li {
    display: flex;
    gap: px-to-rem(8);

    &::before {
      content: url('./tick.svg');
    }

    margin-top: $spacing-4;

    &:first-child {
      margin-top: 0;
    }
  }
}

// For CSS modules
.wrapper {
  ul {
    @extend %tick-list;
  }
}
