@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  display: none;
  color: var(--background);
  position: relative;
  overflow-x: clip;
  pointer-events: none;
  z-index: 0;

  @include media(screen-l) {
    display: block;
  }

  .icon {
    position: absolute;
    display: block;
    width: px-to-rem(862);
    aspect-ratio: 1/1;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
}

.left {
  .icon {
    left: px-to-rem(-515);
  }
}

.right {
  .icon {
    right: px-to-rem(-515);
  }
}
