@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  background-color: var(--background);
  color: var(--text);
  border-radius: $small-radius;
  padding: px-to-rem(16);
  display: grid;
  grid-template: auto auto auto / minmax(auto, px-to-rem(235)) max-content;
  grid-template-areas:
    'logo logo'
    'title icon'
    'text icon';
  gap: px-to-rem(8) px-to-rem(23);
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  grid-area: icon;
  color: $main-turquoise;
  display: flex;
}

.dark {
  .icon {
    color: $green-40;
  }
}

.rating {
  display: flex;
}

.logo {
  grid-area: logo;
  display: flex;
}

.requires-improvement {
  .icon {
    color: $light-orange;
  }
}

.inadequate {
  .icon {
    color: $red;
  }

  &.dark {
    .icon {
      color: $coral;
    }
  }
}

.long {
  grid-template: auto auto / min-content max-content;
  grid-template-areas:
    'logo title'
    'logo text';
  gap: 0;
  align-items: center;

  .title {
    justify-content: unset;
    gap: px-to-rem(8);
  }

  .logo {
    padding: 0 px-to-rem(23) 0 0;
  }
}

.text {
  grid-area: text;
}
