@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.search {
  @include responsive-grid-span($breakpoint-l: 10);

  display: flex;
  gap: $spacing-2;
  flex-direction: column;

  @include media(screen-l) {
    gap: $spacing-3;
    flex-direction: row;
  }
}

.filters-submit {
  flex: 1;
  display: flex;
  gap: $spacing-2;

  @include media(screen-l) {
    gap: $spacing-3;
  }
}

.filters {
  position: relative;
  flex: 1;
  min-width: px-to-rem(210);
  @include responsive-grid-span($breakpoint-l: 7);

  @include media(screen-l) {
    max-width: px-to-rem(306);
  }
}
