@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  padding: $spacing-10 0;
  background-color: var(--background);
  color: var(--text);
  overflow: clip;
}

.container {
  @include responsive-container;
}

.grid {
  @include responsive-grid;

  position: relative;
}

.text {
  @include responsive-grid-span($default: 6, $breakpoint-l: 5);

  position: relative;
}

.cards {
  @include responsive-grid-span($default: 6, $breakpoint-l: 6);

  @include responsive-grid-start($default: 1, $breakpoint-l: 7);

  padding-top: $spacing-8;

  @include media(screen-l) {
    padding-top: 0;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(16) 0;

  @include media(screen-m) {
    flex-flow: row wrap;
    justify-content: space-between;

    & > div {
      flex-basis: calc(50% - px-to-rem(8));
    }
  }

  @include media(screen-l) {
    @include responsive-grid;

    align-items: center;
  }
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(16) 0;
  position: relative;
  @include responsive-grid-span(
    $default: 6,
    $breakpoint-m: 3,
    $breakpoint-l: 6
  );
}

.col-1 {
  height: min-content;
}

.title {
  padding-top: $spacing-2;
}

.body-text {
  padding-top: px-to-rem(24);
  @include apply-body-large;
}

.cta {
  padding-top: $spacing-6;

  @include media(screen-m) {
    a,
    button {
      width: fit-content;
    }
  }
}

@include media(screen-l) {
  .sticky-track {
    height: 100%;
  }

  .sticky {
    position: sticky;

    //  use calc to account for header
    top: $spacing-10;
    min-height: calc(100vh - 2 * $spacing-10);
    display: flex;
    align-items: center;
  }
}
