<!--
     COMPLEXITY CONFIGURATION
     It is possible to conduct denial of service attacks by constructing extremely expensive to run GraphQL queries.
     The complexity configuration defeats that by limiting how complex of a query will be run.
                                
     maxDepth: how deep the nesting can go in a query. This is good basic protection. 
     NOTE: maxDepth values less than 15 will prevent /ui from running
                                
     fieldImpact: the average impact of adding a list field to a query (e.g. how many average items it would return)
     maxComplexity: how much total field impact a query can have before it is rejected
     NOTE: with fieldImpact at 2, values of maxComplexity less than 250 will prevent /ui from running
 -->
 <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
      <api>
        <GraphQL>
          <defaults>
            <security>
              <publicService type="Sitecore.Services.GraphQL.Hosting.Security.GraphQLSecurity, Sitecore.Services.GraphQL">
                <complexityConfiguration type="GraphQL.Validation.Complexity.ComplexityConfiguration, GraphQL">
                  <maxDepth>30</maxDepth>
                  <maxComplexity>30000</maxComplexity>
                  <fieldImpact>3</fieldImpact>
                </complexityConfiguration>
              </publicService>
            </security>
          </defaults>
        </GraphQL>
      </api>  
    </sitecore>
</configuration>