@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

/* dummy code for mock previous component */
.dummy-component {
  background-color: $teal-100;
  width: 100%;
  height: 1200px;
}

.wrapper {
  background-color: var(--background);
  color: var(--text);
}

.container {
  @include responsive-container;

  padding: $spacing-13 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-8;

  @include media(screen-l) {
    flex-direction: row;
    gap: px-to-rem(23);
  }
}

.text {
  flex: 1;
}

.subheader {
  margin-bottom: $spacing-4;
}

.body-copy {
  margin-top: $spacing-6;
}

.stats {
  flex: 1;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-auto-flow: row dense;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-background);
  border-radius: $radius-small;
  padding: $spacing-6 $spacing-4;
  gap: $spacing-6;

  @include media(screen-l) {
    padding: 2rem;
    gap: 0;

    &:first-of-type {
      width: px-to-rem(357);
      height: px-to-rem(290);
    }
    &:nth-of-type(2) {
      width: px-to-rem(302);
      height: px-to-rem(184);
      align-self: end;
    }
    &:nth-of-type(3) {
      width: px-to-rem(248);
      height: px-to-rem(303);
      justify-self: end;
      grid-row: 2/-1;
    }
    &:nth-of-type(4) {
      width: px-to-rem(236);
      height: px-to-rem(193);
    }
    &:nth-of-type(5) {
      width: px-to-rem(302);
      height: px-to-rem(226);
    }
  }
}
