@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  background-color: var(--background);
  color: var(--text);
}

.container {
  @include responsive-container;

  padding-top: $spacing-12;
  padding-bottom: $spacing-12;

  @include responsive-grid;
}

.track {
  @include responsive-grid-span(6, 4, 5, 5);
  @include responsive-grid-start(1, 2, 1, 1);

  .sticky {
    position: sticky;
    top: $spacing-12;
    bottom: $spacing-12;

    .subheading {
      margin-bottom: $spacing-1;
    }

    .heading {
      margin-bottom: $spacing-4;
    }

    .ctas {
      margin-top: $spacing-5;
      display: flex;
      flex-direction: column;
      gap: $spacing-2;
    }
  }

  @include media(screen-m, max) {
    margin-bottom: $spacing-8;
  }
}

.children {
  --label-size: #{px-to-rem(50)};

  @include media(screen-l) {
    --label-size: #{px-to-rem(100)};
  }

  @include responsive-grid-span(6, 4, 5, 5);
  @include responsive-grid-start(1, 2, 7, 7);

  position: relative;

  &::before {
    z-index: 0;
    content: '';
    position: absolute;
    background-color: var(--text);
    left: calc(var(--label-size) / 2);
    top: 0;
    height: 100%;
    width: px-to-rem(1);
    pointer-events: none;
  }

  ul {
    list-style: disc;
    padding-left: px-to-rem(32);
    margin: 0;
    margin: $spacing-4 0 0;

    li {
      margin-bottom: px-to-rem(12);
    }
  }

  :global(ul.tick) {
    list-style: none;
    padding-left: 0;
    margin: $spacing-4 0 0;
  }

  .step {
    position: relative;
    z-index: 10;
    padding-bottom: $spacing-9;
    display: grid;
    grid-template-columns: var(--label-size) 1fr;
    gap: px-to-rem(17);

    @include media(screen-l) {
      padding-bottom: $spacing-13;
      gap: px-to-rem(41);
    }

    &:first-child {
      padding-top: var(--label-size);
    }

    &:last-child {
      padding-bottom: var(--label-size);
    }

    &:last-child::after {
      // hack to give the illusion that the main vertical line of timeline reaches 100px longer than last index circle, by covering the end section of the line
      // We couldn't otherwise scale the line both relative to this child element's dynamic height, and the parent's height without JavaScript
      content: '';
      position: absolute;
      background-color: transparent;
      left: calc(var(--label-size) / 2 - px-to-rem(1));
      top: calc(3 * var(--label-size));
      height: calc(100% - 3 * var(--label-size));

      @include media(screen-l) {
        top: calc(2 * var(--label-size));
        height: calc(100% - 2 * var(--label-size));
      }

      height: 100%;
      width: px-to-rem(3);
      pointer-events: none;
    }

    .index {
      width: var(--label-size);
      height: var(--label-size);
      border-radius: var(--label-size);
      flex: var(--label-size);
      background-color: var(--text);
      color: var(--background);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .heading {
      @include media(screen-m, max) {
        margin-top: $spacing-1;
      }

      margin-bottom: $spacing-4;
    }

    .link {
      margin-top: $spacing-5;
    }
  }
}

:global(html[lang^='ar']) {
  .children {
    &::before {
      left: auto;
      right: calc(var(--label-size) / 2);
    }

    .step:last-child::after {
      left: auto;
      right: calc(var(--label-size) / 2 - px-to-rem(1));
    }
  }
}