@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

/* This height will likely need to be done as an inline style as it will be dependant on how many featured locations there are */
.wrapper {
  position: relative;
  overflow-x: clip;
  background-color: var(--background);
  color: var(--text);
}

.map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: px-to-rem(40);

  @include responsive-grid;

  @include media(screen-l) {
    position: sticky;
    top: 0;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.static-text {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
  background: linear-gradient(
    rgba($main-turquoise-20, 1) 75%,
    rgba($main-turquoise-20, 0)
  );
  padding: $spacing-4 $spacing-14 px-to-rem(95);
  z-index: 1;

  @include responsive-grid-span($breakpoint-l: 5);

  @include media(screen-l) {
    padding: 0;
    margin-left: $spacing-14;
    justify-content: center;
    height: 100vh;
    background: none;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }
}

/* Image will be the England map. 
Real version will probably an SVG which will likely need more complex logic in order to fill in the correct counties */
.image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  //overflow: hidden;
  top: 0;
  //transform: translateY(-50vh);
  @include responsive-grid-span($default: 6);

  @include media(screen-l) {
    position: absolute;
    top: unset;
    transform: none;
    right: -5%;
  }

  & img {
    transition: all 1s ease-out;
    transform: scale(1.1);
    object-fit: contain;

    @include media(screen-l, 'max') {
      width: 100%;
    }

    @include media(screen-m, 'max') {
      height: 100%;
      transform: scale(1.4);
    }
  }
}

.region {
  opacity: 1;

  @include media(screen-l) {
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  & > img {
    &:first-of-type {
      position: absolute;
      z-index: 1;
    }
  }
}

.card {
  opacity: 1;
  transition: all 1s ease-in-out;
  z-index: 1;
  display: grid;
  align-items: end;
  //height: 100vh;

  @include responsive-grid-span($default: 6);
  @include responsive-container;

  @include media(screen-l) {
    position: absolute;
    top: 50%;
    right: 23%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    display: block;
    height: unset;
  }
}

.active {
  opacity: 1;
  pointer-events: all;
}
