<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="HCACloud.Platform.Pipelines.GetLayoutServiceContext.MicrositeTheme, HCACloud.Platform" resolve="true">
              <Routes hint="list">
                <microsites>/sitecore/content/Microsites*</microsites>
                <psg>/sitecore/content/PSG*</psg>
              </Routes>
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>