@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.search-detail {
  display: grid;
  gap: px-to-rem(8);
  @include responsive-grid-span(6, 6, 6, 6);

  @include responsive-container;

  padding: $spacing-11 0 $spacing-7 0;
}

.wrapper {
  background: var(--background);
  color: var(--text);
}
