@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
}

.search-detail {
  display: grid;
  gap: px-to-rem(8);
  margin: 0 $spacing-11 px-to-rem(65) $spacing-11;
  @include responsive-grid-span(6, 6, 6, 6);
}
