@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.consultant-finder-profile-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;

  @include media(screen-l) {
    margin: $spacing-5 0 0 0;
  }
}
