@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;
@use '../../utilities/diamond-mask' as *;

.hero-with-image {
  background-color: var(--background);
  min-height: px-to-rem(560);
  color: var(--text);
  overflow: hidden;
  position: relative;

  @include media(screen-l, max) {
    border-radius: 0 0 $radius-large 0;
    margin-bottom: px-to-rem(32);
  }

  .ctas {
    // nested for increased specificity of a/button tag overrides
    > *:not(:last-child) {
      margin-bottom: $spacing-2;
    }
    @include media(screen-m) {
      width: max-content;
      max-width: px-to-rem(500);
    }
  }
}

.inner {
  height: 100%;
  @include responsive-container;

  padding-top: $spacing-10;
  padding-bottom: $spacing-10;
  @include responsive-grid;

  min-height: calc(100vh - px-to-rem(170));
}

.content {
  @include responsive-grid-span(6, 5, 5, 5);

  align-self: center;
}

.shape {
  position: absolute;
  width: px-to-rem(500);
  height: px-to-rem(500);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 99;
}

.image {
  @include diamond-image-mask;

  max-height: 100vh;
}

.subtitle {
  margin-top: $spacing-3;
}

.copy {
  margin-top: $spacing-5;
  margin-bottom: $spacing-5;
}
