<?xml version="1.0"?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/" >
  <sitecore role:require="XMCloud">
    <settings>
      <!--
        Disabling Publishing.DeepScanRelatedItems as per sitecore suggestions to improve performance
      -->
      <setting name="Publishing.DeepScanRelatedItems" set:value="false" />
	   <!--
        Disabling ExperienceEdge.IncludeDependencyAncestors as per sitecore suggestions to improve performance
		https://support.sitecore.com/csm?id=csm_ticket&table=sn_customerservice_case&sys_id=35e887cc836e6650f3159affeeaad3fa&view=sp
      -->
      <setting name="ExperienceEdge.IncludeDependencyAncestors" set:value="false" />
    </settings>   
  </sitecore>
</configuration>