<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/" >
  <sitecore role:require="XMCloud">
    <settings>
      <!--
        Disabling Publishing.DeepScanRelatedItems as per sitecore suggestions to improve performance
      -->
      <setting name="Publishing.DeepScanRelatedItems" set:value="false" />
    </settings>   
  </sitecore>
</configuration>