@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.results {
  @include responsive-container;
  @include responsive-grid;

  margin-bottom: $spacing-8;

  > div {
    @include responsive-grid-span(
      $default: 6,
      $breakpoint-m: 6,
      $breakpoint-l: 4
    );
  }
}
