@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  color: var(--text);
  background: var(--background);
  padding: $spacing-12 0;
}

.container {
  @include responsive-grid;
  @include responsive-container;

  & > * {
    @include responsive-grid-start($breakpoint-l: 3);
    @include responsive-grid-span($breakpoint-l: 8);
  }
}

.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacing-4;
  color: var(--text-date);

  & time {
    @include apply-body-medium;
  }
}

.title {
  color: var(--heading, var(--text));
}

.copy {
  margin-top: $spacing-2;
}

.authors {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-4;
  margin-top: $spacing-2;

  @include media(screen-m) {
    grid-template-columns: 1fr 1fr;
    column-gap: $spacing-6;
    row-gap: $spacing-5;
  }
}

.checked {
  display: flex;
  align-items: center;
  @include apply-body-medium;

  .separator {
    display: flex;
    margin-right: $spacing-4;
    width: px-to-rem(1);
    height: px-to-rem(20);
    background-color: var(--text-date);
  }
}
