@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  padding-top: var(--theme-collapse-padding-top, $spacing-13);
  color: var(--text);

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &.large {
    padding-bottom: $spacing-13;
  }

  &.small {
    padding-bottom: $spacing-7;
  }

  &.none {
    padding: 0;
  }

  &.half-width {
    width: 100%;

    @include media(screen-l) {
      width: 50%;
    }
  }

  &:empty {
    padding-bottom: 0;
  }
}

.title {
  max-width: max(50%, #{px-to-rem(552)});
}

.subtitle {
  margin-bottom: px-to-rem(8);
}

.body {
  margin-top: $spacing-6;
  max-width: max(50%, #{px-to-rem(552)});

  &:empty {
    display: none;
  }
}

.ctas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacing-6;
  margin-top: $spacing-7;

  &:empty {
    display: none;
  }
}

.children {
  margin-top: $spacing-8;
  margin-bottom: $spacing-7;
}
