@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  color: $navy-blue-100;
  background-color: $fern-10;
  padding: $spacing-6;
}

.copy {
  padding: $spacing-4 0;

  a {
    color: $navy-blue-100;
  }
}
