@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.wrapper {
  background-color: var(--background);
  color: var(--text);
}

.content {
  @include responsive-container;

  padding-top: $spacing-8;
  padding-bottom: $spacing-12;
  display: flex;
  gap: $spacing-7;
  flex-direction: column;
}

.grid {
  @include responsive-grid;

  > * {
    @include responsive-grid-span(6, 3, 3, 3);
  }

  > *:first-child {
    @include responsive-grid-span(6, 6, 6, 6);

    grid-row-end: span 2;
  }
}
