@use '../../foundation/index.module' as *;
@use '../../utilities/index.module' as *;

.slots {
  background-color: $teal-5;
  padding: $spacing-6 $spacing-1;
  height: 100vh;
  color: $navy-blue-100;

  @include media(screen-m) {
    padding: $spacing-6 $spacing-14;
  }

  .header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $spacing-5 0 0;

    h2 {
      font-size: px-to-rem(12);
    }

    @include media(screen-m) {
      display: none;
    }
  }

  .header {
    display: flex;
  }

  .header-container,
  .week-header,
  .weekdays {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .header-container {
    margin: $spacing-6 0 $spacing-5 0;
  }

  // .weekdays {
  //   margin: 0 px-to-rem(24);
  // }

  .weekdays-item,
  .week-header-item {
    text-align: center;
    width: 14.285714285714285714285714285714%;
  }

  .arrow {
    &.desktop {
      display: none;

      @include media(screen-m) {
        display: block;
      } 
    }

    button {
      -moz-appearance: none;
      appearance: none;
      border: none;
      outline: none;
      background-color: $teal-5;
      width: px-to-rem(24);
      height: px-to-rem(24);
      text-align: center;
      cursor: pointer;
    }
  }

  .time {
    display: flex;
    flex-direction: column;

    button {
      -moz-appearance: none;
      appearance: none;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border: 1px solid $navy-blue-30;
      border-radius: px-to-rem(14);
      padding: $spacing-2 $spacing-4;
      margin-bottom: $spacing-2;
      cursor: pointer;

      @include media(screen-m) {
        border-radius: px-to-rem(31);
      }
        

      &.short-appointment {
        background-color: $teal-20;
        border: 1px solid $teal-20;
      }

      &.selected {
        background-color: $navy-blue-100;
        color: $white;
      }

      svg {
        display: none;

        @include media(screen-l) {
          display: block;
          margin-right: $spacing-1;
        }
      }
    }
  }


  .day {
    color: $navy-blue-70;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include media(screen-m) {
      flex-direction: row;
    }
  }

  .location {
    margin-left: 0;
    text-align: center;

    @include media(screen-m) {
      margin-left: $spacing-2;
      text-align: right;
    }
  }

  .map {
    display: flex;
    justify-content: flex-end;
  }
}