@use '../../../foundation/index.module' as *;
@use '../../../utilities/index.module' as *;

.patients-reviews {
  margin: $spacing-7 0;

  .review {
    margin: $spacing-7 0;
    padding-bottom: $spacing-7;
    border-bottom: 1px solid $navy-blue-30;
  }

  .title {
    margin-bottom: $spacing-4;

    @include media(screen-m) {
      margin-bottom: 0;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include media(screen-m) {
      flex-direction: row;
    }
  }

  .reason-wrapper {
    margin: $spacing-4 0 0 0;
  }

  .reason-text {
    display: inline-flex;

    p {
      display: inline-block;
    }
  }

  .reason {
    display: inline-flex;
    margin: $spacing-1;
    border-radius: $radius-small;
    padding: $spacing-1 $spacing-4;
    background-color: #ffe0b8;
  }

  .date-branding-wrapper {
    display: flex;
    justify-content: flex-start;
    margin: $spacing-4 0 0 0;
  }

  .date {
    padding-right: $spacing-2;
    margin-right: $spacing-2;
    border-right: 1px solid $navy-blue-30;
  }

  .branding {
    display: flex;
    align-items: center;

    img {
      margin-left: $spacing-1;
    }
  }
}
